@import './variables';


.registerHotelPage {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
  
    h1 {
      text-align: center;
    }
  
    .form {
      display: flex;
      flex-direction: column;
  
      label {
        margin-bottom: 10px;
  
        input, textarea {
          width: 100%;
          padding: 8px;
          margin-top: 4px;
          margin-bottom: 10px;
        }
      }
  
      button {
        background-color: $darkblue;
        color: white;
        padding: 10px;
        border: none;
        cursor: pointer;
        font-size: 16px;
      }
    }
    
  }

.backButton {
    padding: 10px 20px;
    background-color: $darkblue;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}
  