.logoContainer {
    width: fit-content;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;

}

.rectContainer {
    width: fit-content;
    height: auto;
    position: absolute;
    bottom: 0;
    right: 0;
}