.hotelCard {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    text-align: center;
    box-shadow: 0 7px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.heartIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: white;
    z-index: 10;
    cursor: pointer;
    transform: transform 0.3s ease;
}

.heartIcon:hover {
    transform: scale(1.2);
}

.hotelImage{
    width: 264px;
    height: 264px;
    border-radius: 4px;
    object-fit: cover;
}

.hotelInfo {
    text-align: left;
}

.navigationBtns {
    display: flex;
    justify-content: center;
}

.sliderContainer {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .sliderWrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    min-width: 100%;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
  }
  
  .slide.active {
    opacity: 1;
  }
  
  .sliderImage {
    width: 100%;
    height: auto;
  }