@import './variables';

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.title {
    color: #022f4f;
    margin-bottom: 2vh;
}

.backButton {
    padding: 10px 20px;
    background-color: $darkblue;
    color: white;
    border: none;
    cursor: pointer;
  }
