@import './variables';

.container {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  align-items: center;
  background-color: $monyellow40;
}

.textColumn {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  padding: 0 3vw; 
  color: $darkblue;
}

.imageColumn {
  display: flex;
  justify-content: center; 
  align-items: flex-end; 
}

.petContainer{
  z-index: 2;
}
.rectContainer {
  width: fit-content;
  height: auto;
  position: absolute;
  z-index: 1;
}

.rectContainer1{
  width: fit-content;
  height: auto;
  position: absolute;
  right: 135px;
}
