@import './variables';

.navbar {
    background-color: $monyellow40;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    color: $darkblue;
    font-weight: bold;
    cursor: pointer;
    z-index: 2;
}

.menu{
    display: flex;

    li {
        margin-right: 3vw;
    }

    li:last-child {
        margin-right: 0; 
      }
}