$darkblue: #022f4f;
$monyellow: #F7DBA7;
$monyellow40: #FCEED5;
$pinkred: #FF564F;

$neutralcolor100: #00171F;
$neutralcolor80:  #242B33;
$neutralcolor60: #667479;
$neutralcolor40: #99A2A5;
$neutralcolor20:#CCD1D2;
$neutralcolor10: #EBEEEF;
$white: #FDFDFD;





